:root {
  --white: hsl(0 0% 100%);

  --main-bg: hsl(222 26% 31%);
  --keypad-bg: hsl(223 31% 20%);
  --display-bg: hsl(224 36% 15%);
  --button-primary: hsl(30 25% 89%);
  --button-primary-shadow: hsl(28 16% 65%);
  --button-primary-hover: hsl(0 0% 100%);
  --button-secondary: hsl(225 21% 49%);
  --button-secondary-shadow: hsl(224 28% 35%);
  --button-secondary-hover: hsl(225, 51%, 76%);
  --button-accent: hsl(6 63% 50%);
  --button-accent-shadow: hsl(6 70% 34%);
  --button-accent-hover: hsl(6, 93%, 67%);
  --button-text: hsl(221 14% 31%);
  --button-text-accent: hsl(0 0% 100%);

  --ff-regular: "League Spartan", sans-serif;
  --fw-bold: 700;
}

:root:has(#light:checked) {
  --main-bg: hsl(0 0% 90%);
  --keypad-bg: hsl(0 5% 81%);
  --display-bg: hsl(0 0% 93%);
  --button-primary: hsl(45 7% 89%);
  --button-primary-shadow: hsl(35 11% 61%);
  --button-primary-hover: hsl(0 0% 100%);
  --button-secondary: hsl(185 42% 37%);
  --button-secondary-shadow: hsl(185 58% 25%);
  --button-secondary-hover: hsl(185, 40%, 56%);
  --button-accent: hsl(25 98% 40%);
  --button-accent-shadow: hsl(25 99% 27%);
  --button-accent-hover: hsl(25, 100%, 61%);
  --button-text: hsl(60 10% 19%);
  --button-text-accent: hsl(60 10% 19%);
}

:root:has(#dark:checked) {
  --main-bg: hsl(268 75% 9%);
  --keypad-bg: hsl(268 71% 12%);
  --display-bg: hsl(268 71% 12%);
  --button-primary: hsl(268 47% 21%);
  --button-primary-shadow: hsl(290 70% 36%);
  --button-primary-hover: hsl(285 91% 52%);
  --button-secondary: hsl(281 89% 26%);
  --button-secondary-shadow: hsl(290 70% 36%);
  --button-secondary-hover: hsl(285 91% 52%);
  --button-accent: hsl(176 100% 44%);
  --button-accent-shadow: hsl(177 92% 70%);
  --button-accent-hover: hsl(176, 100%, 79%);
  --button-text: hsl(52 100% 62%);
  --button-text-accent: hsl(52 100% 62%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  display: grid;
  place-items: center;
  font-family: var(--ff-regular);
  font-weight: var(--fw-bold);
  background-color: var(--main-bg);
}

h1 {
  color: var(--button-text-accent);
  /* line-height: 2.25rem; */
  letter-spacing: -0.5px;
}

.wrapper {
  --border-radius: 10px;
  padding: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.display {
  border-radius: var(--border-radius);
  text-align: right;
  padding: 36px 32px;
  margin-top: 32px;
  font-size: 3rem;
  background-color: var(--display-bg);
  color: var(--button-text-accent);
}

.button-container {
  border-radius: var(--border-radius);
  background-color: var(--keypad-bg);
  margin-top: 24px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(3rem, 6.5rem));
  gap: 0.8125rem;
}

.button-container > button {
  border-radius: var(--border-radius);
  border: transparent;
  cursor: pointer;
  font-size: clamp(1rem, 1.5rem + 1vw, 2rem);
  background-color: var(--button-primary);
  color: var(--button-text);
  box-shadow: inset 0px -4px 0px var(--button-primary-shadow);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .wrapper {
    padding: 1rem;
  }

  .button-container {
    padding: 1rem;
  }
}

.button-container > button:hover {
  cursor: pointer;
  background-color: var(--button-primary-hover);
}

.button-container > button.secondary {
  background-color: var(--button-secondary);
  box-shadow: inset 0px -4px 0px var(--button-secondary-shadow);
  color: var(--white);
}

.button-container > button.secondary:hover {
  background-color: var(--button-secondary-hover);
}

.button-container > button.equal {
  background-color: var(--button-accent);
  box-shadow: inset 0px -4px 0px var(--button-accent-shadow);
  color: var(--white);
}

.button-container > button.equal:hover {
  background-color: var(--button-accent-hover);
}

.two {
  grid-column: span 2;
}

@media (min-width: 768px) {
  .button-container {
    gap: 1.5rem;
  }
}

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.theme-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  column-gap: 20px;
}

.theme-container h2 {
  grid-row: 1 / span 2;
  align-self: end;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--button-text-accent);
  margin: 0 0 5px auto;
}

.flex-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
  color: var(--button-text-accent);
  font-size: 0.75rem;
  padding: 3px;
}

.radio-group {
  background-color: var(--keypad-bg);
  border-radius: 1rem;
  padding: 1px 5px;
}

input[type="radio"] + label::before {
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 50%;
  margin-top: 3.5px;
}

input[type="radio"]:checked + label::before {
  background-color: var(--button-accent);
}

.radio-group, input[type="radio"]:checked+label::before, label {
  cursor: pointer;
}